{% extends "layout.html" %}
{% block title %}
Invite
{% endblock %}
{% block main %}
<h1>Invite</h1>
<form action="/quote" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Friend's email" type="email">
    </div>
    <button class="btn btn-primary"  type="submit">Submit</button>
</form>
<script>
    document.querySelector('form').onsubmit = function() {
        if (!document.querySelector('input[name=email]').value) {
            alert('You must provide an email!');
            return false;
        }
        return true;
    };
</script>
{% endblock %}